.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  width: 343px;
  height: auto;
}
.optionsTitle {
  padding-top: 16px;
  padding-bottom: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #4f586b;
}
.sliderContainer {
  margin-top: 24px;
  margin-bottom: 24px;
}
.image {
  width: 152px;
  height: 152px;
  border-radius: 20px;
}

.slideText {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4f586b;
}
.rec.rec-arrow {
  visibility: hidden;
}
.rec.rec-arrow:disabled {
  visibility: hidden;
}
