.image {
  width: 152px;
  height: 152px;
  border-radius: 20px;
}
.wrapper {
  /* position: relative; */
  width: 343px;
  height: auto;
  margin: 24px;
}

.slideText {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4f586b;
}
/* .dotsItem {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 7px;
  background: linear-gradient(236.84deg, #9c8bea 1.49%, #544695 105.35%);
  cursor: pointer;
  outline: none;
} */

/* .slides {
  position: absolute;
  width: 100%;
  height: 100%;
} */

/* .slidesItem {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
} */
/* .leftButton,
.rightButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  box-shadow: -4px 4px 15px rgba(129, 103, 227, 0.2);
  border-radius: 20px;
  padding: 7px 12px;
  cursor: pointer;
}
.leftButton {
  left: 0;
}
.rightButton {
  right: 0;
}
.dotsBlock {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  z-index: 100;
}
.dotsItem {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 7px;
  background: linear-gradient(236.84deg, #9c8bea 1.49%, #544695 105.35%);
  cursor: pointer;
  outline: none;
}
.dotsItem:last-child {
  margin: 0;
}
.active {
  background: blue;
} */
